@font-face {
    font-family: 'American Purpose';
    src: url('../assets/fonts/ampurpose/ampurpose-webfont.woff2') format('woff2'),
         url('../assets/fonts/ampurpose/ampurpose-webfont.woff') format('woff'),
         url('../assets/fonts/ampurpose/ampurpose.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}