@import './scss/colours.scss';

@import './scss/body.scss';
@import './scss/grid.scss';
@import './scss/header.scss';
@import './scss/lightbulb.scss';
// @import './scss/members.scss';
@import './scss/modal.scss';
@import './scss/footer.scss';

html {
    position: relative;
    background: $bgGradient;
    background-repeat: no-repeat;
    //fixes height 100% problem where scrolling gives problems
    background-attachment: fixed;
}
