// Colours
$mainRed:#F71638;
$mainPurple:#820B35;
$mainBrown:#321F25;
$fontYellow:#F9D877;
$fontYellowSub:#CC4F3D;

// Title/header
 .title, .titleThe {
     color: $fontYellow;
 }
 .titleLive {
     color: $mainRed;
 }
