//imports
@import 'colours.scss';
@import 'mixins.scss';

// Title/header
.title, .titleThe {
    color: $fontYellow;
    @include textShadow3D(5, $fontYSub);
}
.titleThe {
    position: absolute;
    top: 4%;
    left: 34%;
    transform: rotate(-15deg);
    font-size: 0.6em;
}
.titleLive {
    color: $mainRed;
    font-size: 1.2em;
    @include textShadow3D(5, $mainPurple);
}

header {
    background-color: $mainBrown;
    font-family: 'American Purpose';
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}